package templa

import (
	"follocoball/templa/components"
)

templ page(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			@components.Head(title)
		</head>
		<body class="bg-background font-geist-sans text-foreground antialiased md:block">
			<main id="page">
				{ children... }
			</main>
			@components.Scripts()
		</body>
	</html>
}
